[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "_External/VulkanMemoryAllocator"]
	path = _External/VulkanMemoryAllocator
	url = git@github.com:GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "Engine/Graphics/_ThirdParty/DirectXShaderCompiler"]
	path = Engine/Graphics/_ThirdParty/DirectXShaderCompiler
	url = https://github.com/microsoft/DirectXShaderCompiler.git
[submodule "Engine/Graphics/_ThirdParty/DirectX-Headers"]
	path = Engine/Graphics/_ThirdParty/DirectX-Headers
	url = https://github.com/microsoft/DirectX-Headers.git
[submodule "Engine/Graphics/_ThirdParty/D3D12MemoryAllocator"]
	path = Engine/Graphics/_ThirdParty/D3D12MemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/D3D12MemoryAllocator.git
