[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
	branch = main
[submodule "Engine/Graphics/_ThirdParty/DirectXShaderCompiler"]
	path = Graphics/_ThirdParty/DirectXShaderCompiler
	url = https://github.com/microsoft/DirectXShaderCompiler.git
[submodule "Engine/Graphics/_ThirdParty/DirectX-Headers"]
	path = Graphics/_ThirdParty/DirectX-Headers
	url = https://github.com/microsoft/DirectX-Headers.git
[submodule "Engine/Graphics/_ThirdParty/D3D12MemoryAllocator"]
	path = Graphics/_ThirdParty/D3D12MemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/D3D12MemoryAllocator.git
	branch = master
[submodule "Graphics/_ThirdParty/ozz-animation"]
	path = Graphics/_ThirdParty/ozz-animation
	url = git@github.com:guillaumeblanc/ozz-animation.git
