# Ide
.idea/
!.idea/codeStyles
.vs/
.vscode/

# Build
CMakeFiles/
cmake-build-debug/
cmake-build-release/
CMakeCache.txt
build/DenOfIz
install/DenOfIz
install/demo/build
install/demo/cmake-build-debug

vcpkg_installed

out/
.cache
.DS_Store
**/.claude/settings.local.json