[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
	branch = master
[submodule "Engine/Graphics/_ThirdParty/DirectXShaderCompiler"]
	path = Graphics/_ThirdParty/DirectXShaderCompiler
	url = https://github.com/microsoft/DirectXShaderCompiler.git
	branch = main
[submodule "Engine/Graphics/_ThirdParty/D3D12MemoryAllocator"]
	path = Graphics/_ThirdParty/D3D12MemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/D3D12MemoryAllocator.git
	branch = master
[submodule "Graphics/_ThirdParty/ozz-animation"]
	path = Graphics/_ThirdParty/ozz-animation
	url = https://github.com/guillaumeblanc/ozz-animation.git
[submodule "Graphics/_ThirdParty/msdf-atlas-gen"]
	path = Graphics/_ThirdParty/msdf-atlas-gen
	url = https://github.com/Chlumsky/msdf-atlas-gen.git
